/*
 * -------------------------------------------------
 *  nfcore/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = // TODO - '@git_repo_name@' 
  description = // TODO - '@ap_pipeline_description@'
  homePage = // TODO - '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  version = // TODO - '@git_commit@'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}


/*
 * Params
 */

params {
  help = false
  name = false

  // analysis parameters
  genome = false
  singleEnd = false
  reads = null
  readPaths = null
  multiqcConfig = "$baseDir/assets/multiqcConfig.yaml"
  metadata = "$baseDir/assets/metadata.tsv"
  skipFastq = false

  // notifications
  email = false
  maxMultiqcEmailFileSize = 25.MB
  plaintext_email = false

  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/summary"
}

/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda { 
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Load Annotation
includeConfig 'conf/genomes.config'


