/*
 * -------------------------------------------------
 *  curie/rawqc Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'rawqc'
  description = 'Raw data quality controls pipeline'
  homePage = 'https://gitlab.curie.fr/data-analysis/rnaseq'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '3.0.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}

/*
 * Params
 */

params {
  help = false
  name = false
  email = false
  genome = false

  // analysis parameters
  singleEnd = false

  // Defaults
  reads = null
  outDir = './results'
  summaryDir = "${params.outDir}/summary"
  trimTool = 'trimgalore'
  adapter = 'auto'
  adapter5 = false

  // Defaults
  readPaths = null
  samplePlan = null

  // Boilerplate options
  multiqcConfig = "$baseDir/assets/multiqc_config.yaml"
  metadata = "$baseDir/assets/metadata.tsv"

  // notifications
  tracedir = "${params.outDir}/pipeline_info"

  skipFastqcRaw = false
  skipTrimming = false
  skipFastqcTrim = false
  skipFastqScreen = false
  skipMultiqc = false

  //Adapters
  truseqR1 = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
  truseqR2 = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
  smallrnaR1 = "TGGAATTCTCGGGTGCCAAGG"
  nexteraR1 = "CTGTCTCTTATACACATCT"
  nexteraR2 = "CTGTCTCTTATACACATCT"

  // Custom trimming options
  qualTrim = 20
  nTrim = false
  twoColour = false
  minLen = 10

  // Preset
  picoV2 = false
  rnaLig = false
  polyA = false
  smartSeqV4 = false

  // PDX
  pdx = false
}


/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Load Annotation
includeConfig 'conf/genomes.config'

// Load modules
includeConfig 'conf/modules.config'
