/*
 * -------------------------------------------------
 *  Nextflow config file for running Atropos
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/mypipeline -profile test
 */

params {
   overlap = 3
   times = 2
   minimum_length = 10 
}
~       
