/***********************************
 * Default for environment options *
 ***********************************/

params {

  // Defaults only, expecting to be overwritten


  // Cluster
  queue = null

  // Genome annotations
  genomeAnnotationPath = ""

  // Conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""
}

