conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1; export PATH=$PATH:${projectDir}/bin/fromSource"

  withLabel:cutadapt{ conda = "${projectDir}/environment.yml" }
  withLabel:fastp{ conda = "${projectDir}/environment.yml" }
  withLabel:fastqc{ conda = "${projectDir}/environment.yml" }
  withLabel:fastqScreen{ conda = "${projectDir}/environment.yml" }
  withLabel:multiqc{ conda = "${projectDir}/environment.yml" }
  withLabel:python{ conda = "${projectDir}/environment.yml" }
  withLabel:trimgalore{ conda = "${projectDir}/environment.yml" }
  withLabel:xengsort{ conda = "${projectDir}/environment.yml" }
  withLabel:onlyLinux{ conda = "${projectDir}/environment.yml" }

}
