conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:python { conda = "${baseDir}/environment.yml" }
  withLabel:trimgalore { conda = "${baseDir}/environment.yml" }
  withLabel:fastqc { conda = "${baseDir}/environment.yml" }
  withLabel:fastqScreen { conda = "${baseDir}/environment.yml" }
  withLabel:atropos { conda = "${baseDir}/environment.yml" }
  withLabel:fastp { conda = "${baseDir}/environment.yml" }
  withLabel:multiqc { conda = "${baseDir}/environment.yml" }
}
