/*
 * -------------------------------------------------
 *  Nextflow config file for containers : Singularity or Docker
 * -------------------------------------------------
 */


params {
  // Set path to images
  containerPath = "/bioinfo/local/curie/ngs-data-analysis/centos/tools/containers/singularity/rawqc-2.1/images"

  // Options: Tool versions  
  fastqc_version = '0.11.8'
  trimgalore_version = '0.6.2'
  atropos_version = '1.1.16'
  fastp_version = '0.20.0'
  multiqc_version = '1.8'
  rmarkdown_version = '0.8'
  rawqc_version = '2.1.0'
  fastq_screen_version = '0.13.0'
}

process {
  // Process-specific resource requirements
  withName:fastqc {
    container = "${params.containerPath}/fastqc-${params.fastqc_version}.simg"
  }
  withName:fastqcTrimmed {
    container = "${params.containerPath}/fastqc-${params.fastqc_version}.simg"
  }
  withName:trimGalore {
    container = "${params.containerPath}/trimgalore-${params.trimgalore_version}.simg"
  }
  withName:atroposTrim {
    container = "${params.containerPath}/atropos-${params.atropos_version}.simg"
  }
  withName:fastp {
    container = "${params.containerPath}/fastp-${params.fastp_version}.simg"
  }
  withName:multiqc {
    container = "${params.containerPath}/multiqc-${params.multiqc_version}.simg"
  }
  withName:get_software_versions {
    container = "${params.containerPath}/rawqc-${params.rawqc_version}.simg"
  }
  withName:makeReport {
    container = "${params.containerPath}/rawqc-${params.rawqc_version}.simg"
  }
  withName:makeReport4RawData {
    container = "${params.containerPath}/rawqc-${params.rawqc_version}.simg"
  }
  withName:output_documentation {
    container = "${params.containerPath}/r-markdown-${params.rmarkdown_version}.simg"
  }
  withName:fastq_screen {
    container = "${params.containerPath}/fastq-screen-${params.fastq_screen_version}.simg"
  }
}
