docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
  withLabel:atropos { container = "atropos" }
  withLabel:fastp { container = "fastp" }
  withLabel:fastqScreen { container = "fastqscreen" }
  withLabel:fastqc { container = "fastqc" }
  withLabel:multiqc { container = "multiqc" }
  withLabel:onlyLinux { container = "onlylinux" }
  withLabel:python { container = "python" }
  withLabel:trimgalore { container = "trimgalore" }
}
