params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    path = params.globalPath ?: "${projectDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      cutadapt = "${projectDir}/recipes/conda/cutadapt.yml"
      fastp = "${projectDir}/recipes/conda/fastp.yml"
      fastqc = "${projectDir}/recipes/conda/fastqc.yml"
      fastqScreen = "${projectDir}/recipes/conda/fastqScreen.yml"
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
      python = "${projectDir}/recipes/conda/python.yml"
      trimgalore = "${projectDir}/recipes/conda/trimgalore.yml"
      xengsort = "${projectDir}/recipes/conda/xengsort.yml"
      onlyLinux = "${projectDir}/recipes/conda/onlyLinux.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = "--bind ${params.containers.specificBinds}"
      dockerRunOptions = ""
      podmanRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependencies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

    }
  }
}
