params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${baseDir}/../multipath"
    path = params.globalPath ?: "${baseDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      atropos = "${baseDir}/recipes/conda/atropos.yml"
      fastp = "${baseDir}/recipes/conda/fastp.yml"
      fastqc = "${baseDir}/recipes/conda/fastqc.yml"
      fastqScreen = "${baseDir}/recipes/conda/fastqScreen.yml"
      multiqc = "${baseDir}/recipes/conda/multiqc.yml"
      python = "${baseDir}/recipes/conda/python.yml"
      trimgalore = "${baseDir}/recipes/conda/trimgalore.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      git {
      // keep this as syntax example
      // some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      }
    }
  }
}
