/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  //Set path to annotation folder
  fastqScreenBase = "/data/annotations/pipelines/tools/FastqScreenGenomes"

  fastqScreenGenomes {
    Human = "${params.fastqScreenBase}/Human/Homo_sapiens.GRCh38"
    Mouse = "${params.fastqScreenBase}/Mouse/Mus_musculus.GRCm38"
    Rat = "${params.fastqScreenBase}/Rat/Rnor_6.0"
    Drosophila =  "${params.fastqScreenBase}/Drosophila/BDGP6"
    Worm = "${params.fastqScreenBase}/Worm/Caenorhabditis_elegans.WBcel235"
    Yeast = "${params.fastqScreenBase}/Yeast/Saccharomyces_cerevisiae.R64-1-1"
    Arabidopsis = "${params.fastqScreenBase}/Arabidopsis/Arabidopsis_thaliana.TAIR10"
    Ecoli = "${params.fastqScreenBase}/E_coli/Ecoli"
    rRNA = "${params.fastqScreenBase}/rRNA/GRCm38_rRNA" 
    MT = "${params.fastqScreenBase}/Mitochondria/mitochondria"
    PhiX = "${params.fastqScreenBase}/PhiX/phi_plus_SNPs"
    Lambda = "${params.fastqScreenBase}/Lambda/Lambda"
    Vectors = "${params.fastqScreenBase}/Vectors/Vectors"
    Adapters = "${params.fastqScreenBase}/Adapters/Contaminants"
  }
}
