/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    fastqScreenGenomes {
      Human = "${params.genomeAnnotationPath}/Human/Homo_sapiens.GRCh38"
      Mouse = "${params.genomeAnnotationPath}/Mouse/Mus_musculus.GRCm38"
      Rat = "${params.genomeAnnotationPath}/Rat/Rnor_6.0"
      Drosophila = "${params.genomeAnnotationPath}/Drosophila/BDGP6"
      Worm = "${params.genomeAnnotationPath}/Worm/Caenorhabditis_elegans.WBcel235"
      Yeast = "${params.genomeAnnotationPath}/Yeast/Saccharomyces_cerevisiae.R64-1-1"
      Arabidopsis = "${params.genomeAnnotationPath}/Arabidopsis/Arabidopsis_thaliana.TAIR10"
      Ecoli = "${params.genomeAnnotationPath}/E_coli/Ecoli"
      rRNA = "${params.genomeAnnotationPath}/rRNA/GRCm38_rRNA"
      MT = "${params.genomeAnnotationPath}/Mitochondria/mitochondria"
      PhiX = "${params.genomeAnnotationPath}/PhiX/phi_plus_SNPs"
      Lambda = "${params.genomeAnnotationPath}/Lambda/Lambda"
      Vectors = "${params.genomeAnnotationPath}/Vectors/Vectors"
      Adapters = "${params.genomeAnnotationPath}/Adapters/Contaminants"
    }
  }
}