/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {
  genomes {
    'pdx' {
       xengsort = "/data/annotations/pipelines/PDX/indexes/xengsort/index_mm10_hg38.h5"
    }
    'fastqScreenGenomes' {
        Human = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Human/Homo_sapiens.GRCh38"
        Mouse = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Mouse/Mus_musculus.GRCm38"
        Rat = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Rat/Rnor_6.0"
        Drosophila = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Drosophila/BDGP6"
        Worm = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Worm/Caenorhabditis_elegans.WBcel235"
        Yeast = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Yeast/Saccharomyces_cerevisiae.R64-1-1"
        Arabidopsis = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Arabidopsis/Arabidopsis_thaliana.TAIR10"
        Ecoli = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/E_coli/Ecoli"
        rRNA = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/rRNA/GRCm38_rRNA"
        MT = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Mitochondria/mitochondria"
        PhiX = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/PhiX/phi_plus_SNPs"
        Lambda = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Lambda/Lambda"
        Vectors = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Vectors/Vectors"
        Adapters = "${params.genomeAnnotationPath}/tools/FastqScreenGenomes/Adapters/Contaminants"
    }
  }
}
