/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {
  // illumina iGenomes reference file paths
  // TODO nf-core: Add new reference types and strip out those that are not needed
  genomes {

    'hg38' {
      fasta   = "${params.igenomes_base}/Human/hg38/genome/hg38.fa"
      gtf     = "${params.igenomes_base}/Human/hg38/gtf/gencode.v29.annotation.gtf"
      gene    = "${params.igenomes_base}/Human/hg38/gtf/parseGTFAnnotation/gencode.v29.annotation_gene.bed"
      star    = "${params.igenomes_base}/Human/hg38/indexes/STAR"
      bowtie2 = "${params.igenomes_base}/Human/hg38/indexes/bowtie2/hg38"
      bwa     = "${params.igenomes_base}/Human/hg38/indexes/bwa/hg38"
    }
    'hg19' {
      fasta   = "${params.igenomes_base}/Human/hg19/genome/hg19.fa"
      gtf     = "${params.igenomes_base}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      gene    = "${params.igenomes_base}/Human/hg19/gtf/parseGTFAnnotation/gencode.v19.annotation_gene.bed"
      star    = "${params.igenomes_base}/Human/hg19/indexes/STAR"
      bowtie2 = "${params.igenomes_base}/Human/hg19/indexes/bowtie2/hg19"
      bwa     =	"${params.igenomes_base}/Human/hg19/indexes/bwa/hg19"
    }
    'mm10' {
      fasta   = "${params.igenomes_base}/Mouse/mm10/genome/mm10.fa"
      gtf     = "${params.igenomes_base}/Mouse/mm10/gtf/gencode.v13.annotation.gtf"
      gene    = "${params.igenomes_base}/Mouse/mm10/gtf/parseGTFAnnotation/gencode.v13.annotation_gene.bed"
      star    = "${params.igenomes_base}/Mouse/mm10/indexes/STAR"
      bowtie2 = "${params.igenomes_base}/Mouse/mm10/indexes/bowtie2/mm10"
      bwa     = "${params.igenomes_base}/Mouse/mm10/indexes/bwa/mm10"
    }
    'mm9' {
      fasta   = "${params.igenomes_base}/Mouse/mm9/genome/mm9.fa"
      gtf     = "${params.igenomes_base}/Mouse/mm9/gtf/gencode.v1.annotation.gtf"
      gene    =	"${params.igenomes_base}/Mouse/mm9/gtf/parseGTFAnnotation/gencode.v1.annotation_gene.bed"
      star    = "${params.igenomes_base}/Mouse/mm9/indexes/STAR"
      bowtie2 = "${params.igenomes_base}/Mouse/mm9/indexes/bowtie2/mm9"
      bwa     = "${params.igenomes_base}/Mouse/mm9/indexes/bwa/mm9"
    }

  }
}
