conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:python { conda = "${params.geniac.tools.python}" }
  withLabel:trimgalore { conda = "${params.geniac.tools.trimgalore}" }
  withLabel:fastqc { conda = "${params.geniac.tools.fastqc}" }
  withLabel:fastqScreen { conda = "${params.geniac.tools.fastqScreen}" }
  withLabel:fastp { conda = "${params.geniac.tools.fastp}" }
  withLabel:atropos { conda = "${params.geniac.tools.atropos}" }
  withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
}
