conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1; export PATH=$PATH:${projectDir}/bin/fromSource"

  withLabel:cutadapt{ conda = "${params.geniac.tools?.cutadapt}" }
  withLabel:fastp{ conda = "${params.geniac.tools?.fastp}" }
  withLabel:fastqc{ conda = "${params.geniac.tools?.fastqc}" }
  withLabel:fastqScreen{ conda = "${params.geniac.tools?.fastqScreen}" }
  withLabel:multiqc{ conda = "${params.geniac.tools?.multiqc}" }
  withLabel:python{ conda = "${params.geniac.tools?.python}" }
  withLabel:trimgalore{ conda = "${params.geniac.tools?.trimgalore}" }
  withLabel:xengsort{ conda = "${params.geniac.tools?.xengsort}" }
  withLabel:onlyLinux{ conda = "${params.geniac.tools?.onlyLinux}" }
}
