/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */


//Illumina
params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  singleEnd = true

  /*
  readPaths = [
    ['A000T01' ,  ["$baseDir/test-op/data/SRR1106775_1M_part1_1.fastq.gz"]]
  ]
  */

  samplePlan = "$baseDir/test-op/sampleplan.csv"
}

/*
//truSeq
params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  singleEnd = false
  adapter = 'truseq'
  
  readPaths = [
    ['D120T17' ,  ['/data/kdi_prod/dataset_all/2008568/nobackup/D120T17/D120T17.R1.fastq.gz', '/data/kdi_prod/dataset_all/2008568/nobackup/D120T17/D120T17.R2.fastq.gz']]
  ]
}
*/

/*
//nextera
params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  singleEnd = false
  adapter = 'nextera'
  readPaths = [
    ['D106R10' ,  ['/data/kdi_prod/dataset_all/2008466/nobackup/D106R10/D106R10.R1.fastq.gz', '/data/kdi_prod/dataset_all/2008466/nobackup/D106R10/D106R10.R2.fastq.gz']]
  ]
}
*/

//smallRNA
/*
params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  singleEnd = true
  adapter = 'smallrna'
  readPaths = [
    ['A1111T01' ,  ['/data/kdi_prod/dataset_all/2008312/nobackup/A1111T01/A1111T01.R1.fastq.gz']]
  ]
}
*/

//pico-v2
/*
params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  singleEnd = false
  pico_v2 = true
  readPaths = [
    ['D183T14' ,  ['/data/kdi_prod/dataset_all/D183T14/D183T04.R1.fastq.gz', '/data/kdi_prod/dataset_all/D183T14/D183T04.R2.fastq.gz']]
  ]
}
*/
