/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/mypipeline -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  singleEnd = true
  readPaths = [
    ['A000T01' ,  ['/data/tmp/testdataset_pipelines/RNA-seq/Gendrel2012/SRR1106775_1M_part1_1.fastq.gz']]
  ]


}
