/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/mypipeline -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  singleEnd = true
  readPaths = [
    ['A000T01' ,  ['/data/users/talaeita/data_1/small_A1110R931.R1.fastq']],
    ['A000T01' ,  ['/data/users/talaeita/data_1/small_A1110R930.R1.fastq']],
    ['A000T01' ,  ['/data/users/talaeita/data_1/small_A1110R929.R1.fastq']]
  ]


}
